@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model CartVM
<div id="cartlist">
    <section class="section section-lg bg-default text-md-left" >
    <div class="container" >
        @if (Model.Items.Count != 0)
        {
            <div id="cart">
                @foreach (var item in Model.Items)
                {
                    <div class="row p-3 mx-5 my-0 justify-content-between">
                        <article class="product-cart ">
                            <div class="product-figure-cart ">
                                <img src=@item.ImageUrl alt=@item.Name width="150" height="150" />
                            </div>
                            <div class="product-detail-cart flex-column">
                                <h5 class="product-name-cart">@item.Name</h5>

                                <p style="font-size: 15px; margin-top: auto">Quantity:</p>
                                <div class="input-group number-spinner number-spinner-cart">
                                    <span class="input-group-btn">
                                        <div class="btn btn-stepper " data-dir="dwn" onclick=decreaseItemQuantity("@item.ProductId",@item.Quantity)><span class="fa fa-minus"></span></div>
                                    </span>
                                    <input type="number" class="form-control text-center" onkeypress="return isNumberKey(event)"
                                   value=@item.Quantity readonly>
                                    <span class="input-group-btn ">
                                        <div class="btn btn-stepper " data-dir="up" onclick=increaseItemQuantity("@item.ProductId")><span class="fa fa-plus"></span></div>
                                    </span>
                                </div>
                            </div>
                        </article>

                        <div class="d-flex flex-column before-dropdown" style="width: auto;">
                            <button class="btn btn-danger delete-item-cart " data-toggle="modal"
                            data-target=@("#removeModal_"+@item.ProductId)>
                                <span class="fa fa-close"
                              aria-hidden="true"></span>
                            </button>
                            <!-- Modal -->
                    <div class="modal fade" id=@("removeModal_"+@item.ProductId) tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" >
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Remove item</h5>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                                <span class="fa fa-close" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Do you really want to remove this item?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <button type="button" class="btn btn-primary font-weight-normal text-capitalize"
                                            data-dismiss="modal" onclick=deleteItem("@item.ProductId")>
                                                Yes
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h6 class="product-price-cart mt-auto mb-0" style="text-align: right;">
                                <span class="total-price">@(item.Price * item.Quantity)</span>
                            </h6>
                        </div>
                    </div>
                    <hr class="my-3 mx-5">
                }
            </div>
            <div class="row-reverse mx-5" style="text-align: right;" id="sum">
                <h5 class="total-price-cart">Total:</h5>
                <h5 class="total-price-cart"><span class="sum">@Model.Total</span></h5>
            </div>
            <div class="row justify-content-between justify-content-center mx-5"
             style="text-align: center;">
                <div class="button-wrap p-0 w-auto">
                    <a class="button button-md button-primary button-winona"
                   href="/products">Continue Shopping</a>
                </div>

                <div class="button-wrap m-0 p-0  w-auto">
                    <a class="button button-md button-primary button-winona"
                   asp-controller="Cart" asp-action="Checkout">Check out</a>
                </div>

            </div>
        }
        else
        {
            <h3 class="mb-5 text-center">NO ITEMS IN CART YET.</h3>
        }
    </div>
</section>
</div>

